.grad {width:100%; height:100%; background-color:#2D2D23; margin:0px;}
.icon-size{width:90px; height:90px;}
.logo-size{width:360px; height:90px;}
.case-1{width:78%;background-color:#0075D8;text-align:center;margin-left:10%; padding:6px;margin-top:10px;}
.case-2{width:100%;background-color:#DEDEDE;text-align:center;margin-top:0px; padding:0%;}
.big-font{font-family:'Century Gothic';font-size:33px;color:#333333;padding:9px;margin:0px;widrth:100%;}
.terms-div{width:94%; background-color:#ffffff;font-family:'Century Gothic';color:#111111;text-align:left;padding:3%;}
.small-font{font-size:13px;}

@media(max-width: 1100px)
{
	.icon-size{width:80px; height:80px;}
	.logo-size{width:300px; height:80px;}
	.case-1{width:86%;background-color:#0075D8;text-align:center;margin-left:6%; padding:6px;margin-top:10px;}
	.case-2{width:100%;background-color:#DEDEDE;text-align:center;margin-top:0px; padding:0%;}
	.big-font{font-family:'Century Gothic';font-size:28px;color:#333333;padding:9px;margin:0px;widrth:100%;}
	.terms-div{width:94%; background-color:#ffffff;font-family:'Century Gothic';color:#111111;text-align:left;padding:3%;}
}

@media(max-width: 800px)
{
	.icon-size{width:70px; height:70px;}
	.logo-size{width:260px; height:70px;}
	.case-1{width:86%;background-color:#0075D8;text-align:center;margin-left:6%; padding:6px;margin-top:10px;}
	.case-2{width:100%;background-color:#DEDEDE;text-align:center;margin-top:0px; padding:0%;}
	.big-font{font-family:'Century Gothic';font-size:24px;color:#333333;padding:9px;margin:0px;widrth:100%;}
	.terms-div{width:94%; background-color:#ffffff;font-family:'Century Gothic';color:#111111;text-align:left;padding:3%;}
}

@media(max-width: 600px)
{
	.icon-size{width:60px; height:60px;}
	.logo-size{width:220px; height:60px;}
	.case-1{width:90%;background-color:#0075D8;text-align:center;margin-left:4%; padding:6px;margin-top:10px;}
	.case-2{width:100%;background-color:#DEDEDE;text-align:center;margin-top:0px; padding:0%;}
	.big-font{font-family:'Century Gothic';font-size:21px;color:#333333;padding:9px;margin:0px;widrth:100%;}
	.terms-div{width:94%; background-color:#ffffff;font-family:'Century Gothic';color:#111111;text-align:left;padding:3%;}
	.small-font{font-size:12px;}
}